span[role="alert"] {
  strong {
    @apply text-sm text-red-400 mt-2;
  }
}

.input-container {
  @apply relative flex flex-row justify-center items-center space-x-2 pl-2
        rounded-md border border-blue-200 dark:border-gray-600 text-gray-900;

  svg {
    @apply fill-gray-600 dark:fill-gray-300;

    height: 20px;
  }

  input {
    @apply text-base w-full pl-2 pr-4 py-[0.5rem] rounded-l-none rounded-r-md border border-transparent
                focus:text-base focus:outline-none transition-colors duration-200
                dark:bg-gray-700 dark:focus:border-gray-500
                selection:bg-gray-500 selection:text-gray-200 text-gray-800 dark:text-gray-200;

    &[name="password"] {
      @apply pr-10 #{!important};
    }
  }

  .eye-toggle {
    @apply absolute right-3 top-[12px];

    svg {
      @apply h-[18px] fill-gray-500 dark:fill-gray-300 transition-colors duration-150;

      &:hover {
        @apply fill-gray-700 dark:fill-gray-300;
      }

      &#eye-close {
        @apply fill-gray-800 dark:fill-gray-300;

        &:hover {
          @apply fill-gray-700 dark:fill-gray-200;
        }
      }
    }
  }
}

.check-input-container {
  @apply flex items-center ml-1;

  input {
    @apply w-4 h-4;
  }

  label {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
}

.submit-button-container {
  @apply flex flex-row relative pt-4;

  button {
    @apply flex flex-row justify-center items-center space-x-1 bg-blue-500 text-base text-white rounded-[3px] px-4 py-1
            hover:bg-blue-600 transition-all duration-300;

    &:hover {
      svg {
        @apply fill-white;

        height: 18px;
      }
    }

    svg {
      @apply fill-gray-100 transition-all duration-200;

      height: 18px;
    }
  }

  .btn-link {
    @apply text-sm mt-[7px] hover:text-blue-500 transition-colors duration-200
            float-right dark:text-gray-400 dark:hover:text-gray-300
            cursor-pointer text-right w-full;
  }
}
